<div class="gryffeditor">
<div data-label="Text Block"> <div class="elm text-edit"><h2 style="text-align: center;">Dresses Size Chart</h2>
<table style="width: 78.2214%; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td style="text-align: center; width: 10%;">Size</td>
<td style="text-align: center; width: 13%;">US/CAN</td>
<td style="text-align: center; width: 14%;">Bust</td>
<td style="text-align: center; width: 12%;">Waist</td>
<td style="text-align: center; width: 11.5064%;">Hips</td>
</tr>
<tr>
<td style="text-align: center; width: 10%;">XS</td>
<td style="text-align: center; width: 13%;">0 - 2</td>
<td style="text-align: center; width: 14%;">31" - 33"</td>
<td style="text-align: center; width: 12%;">24" - 26"</td>
<td style="text-align: center; width: 11.5064%;">33" - 35"</td>
</tr>
<tr>
<td style="text-align: center; width: 10%;">S</td>
<td style="text-align: center; width: 13%;">2 - 4</td>
<td style="width: 14%; text-align: center;">34" - 35"</td>
<td style="text-align: center; width: 12%;">27" - 29"</td>
<td style="text-align: center; width: 11.5064%;">36" - 38"</td>
</tr>
<tr>
<td style="text-align: center; width: 10%;">M</td>
<td style="text-align: center; width: 13%;">4 - 6</td>
<td style="text-align: center; width: 14%;">36" - 39"</td>
<td style="text-align: center; width: 12%;">30" - 32"</td>
<td style="text-align: center; width: 11.5064%;">39" - 41"</td>
</tr>
<tr>
<td style="text-align: center; width: 10%;">L</td>
<td style="text-align: center; width: 13%;">8 - 10</td>
<td style="text-align: center; width: 14%;">40" - 43"</td>
<td style="text-align: center; width: 12%;">33" - 35"</td>
<td style="text-align: center; width: 11.5064%;">42" - 45"</td>
</tr>
<tr>
<td style="text-align: center; width: 10%;">XL</td>
<td style="text-align: center; width: 13%;">10 - 12</td>
<td style="text-align: center; width: 14%;">44" - 47"</td>
<td style="text-align: center; width: 12%;">36" - 39"</td>
<td style="text-align: center; width: 11.5064%;">46" - 49"</td>
</tr>
</tbody>
</table></div></div>
</div><div id="divContentBk"></div>